*.sh text eol=lf
install.sh text eol=lf
*.conf text eol=lf
*.ini text eol=lf
*.rasi text eol=lf
*.txt text eol=lf
*.md text eol=lf
scripts/* text eol=lf
dotfiles/bspwm/bspwmrc text eol=lf
dotfiles/polybar/launch.sh text eol=lf
dotfiles/zsh/* text eol=lf
